.section
  %h1 Add Article
  - @article ||= Article.new
  = form_for @article, url: {action: 'create', controller: 'articles'} do |f|
    .form-group
      = f.label 'Title', nil, class: 'control-label'
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label 'Author', nil, class: 'control-label'
      = f.text_field :author, class: 'form-control'
    .form-group
      = f.label 'Text', nil, class: 'control-label'
      = f.text_area :text, class: 'form-control'
    .clearfix
    = f.submit 'Add', class: 'btn btn-primary'
