.section
  %h1 Add Newsletter
  - @newsletter ||= Newsletter.new
  = form_for @newsletter, url: {action: 'create', controller: 'newsletters'} do |f|
    .form-group
      = f.label 'File', nil, class: 'control-label'
      = f.file_field :document, class: 'form-control'
    .form-group
      = f.label 'Date', nil, class: 'control-label'
      = f.date_select :date, {discard_day: true}, {class: 'form-control'}
    .clearfix
    = f.submit 'Add', class: 'btn btn-primary'
