.section
  %a.no-text-decoration{data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse#{year}"}
    .newsletter-year-header.interactive-element
      %h2.centered-with-lines{id: "#{year}"}
        = year
  .row.newsletter-row.collapse{id: "collapse#{year}", class: "in"}
    - newsletters.sort.each do |n|
      .col-md-3.col-xs-4.newsletter-col
        = link_to n.document.url, {class: 'no-text-decoration'} do
          .btn.btn-info.clearfix.center-block.newsletter-grid-button
            = n.name.split.first
            %br
            = n.name.split.last
