.pull-left
  %h1 Admin Page
- if user_signed_in?
  .pull-right
    .section
      = link_to('Logout', destroy_user_session_path, :method => :delete)
.clearfix
%hr
- if @show_newsletter_fields 
  .row
    .col-md-8
      = render 'newsletters/new'
    .col-md-4
      = render 'newsletters/delete'
- if @show_sermon_fields
  .row
    .col-md-8
      = render 'sermons/new'
    .col-md-4
      = render 'sermons/delete'
