#admin-header
  %h1 Admin Page
  - if user_signed_in?
    = link_to(destroy_user_session_path, method: :delete, class: 'button-cell interactive-element') do
      Logout
%hr

- if @show_newsletter_fields 
  .row
    .col-md-8
      = render 'newsletters/new'
    .col-md-4
      = render 'newsletters/select_for_edit'

- if @show_sermon_fields
  .row
    .col-md-8
      = render 'sermons/new'
    .col-md-4
      = render 'sermons/select_for_edit'

- if @show_article_fields
  .row
    .col-md-8
      = render 'articles/new'
    .col-md-4
      = render 'articles/select_for_edit'

- if @show_event_fields
  .row
    .col-md-8
      = render 'events/new'
    .col-md-4
      = render 'events/select_for_edit'
