- unless @upcoming_events.blank?
  .section#event-section
    %h1 Events
    %table.table.table-condensed
      %tbody
      - @upcoming_events.each do |event|
        %tr
          - if event.end_date.nil?
            %td= event.formatted_start_date
          - else
            %td= "#{event.formatted_start_date} - #{event.formatted_end_date}"
          %td= event.name
