.row
  .col-md-4
    .section
      %h1 Contact Us

      %p
        We'd love to hear from you! Please contact us with any questions about our ministry.
      %h3 Phone
      %p
        (336) 626-0551
      %h3 Email
      %p
        cgbaptistchurch@yahoo.com
      %h3 Facebook
      %p
        = link_to '/CedarGroveBaptistAsheboro', 'https://www.facebook.com/CedarGroveBaptistAsheboro'
      %h3 Address
      %p
        3012 Old HWY 49 South
        %br
        Asheboro NC 27204
        %br
        P.O. Box 2943

    .section
      %h3 Website Issues?
      = form_tag('send_contact_mail') do
        .form-group
          = text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name'
        .form-group
          = text_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email'
        .form-group
          = text_area_tag 'comments', nil, rows: 4, class: 'form-control',
                          placeholder: 'Suggestions, corrections, comments, bugs, or questions'
        = button_tag 'Send', class: 'btn btn-primary'

  .col-md-8
    .section
      %h3 Visit
      %p
        The best way to reach us is to come by and visit. Our address is
        3012 Old HWY 49 South, Asheboro NC 27204, and our services are
        every Sunday morning at 10 AM.
      #map
        %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51857.02052087495!2d-79.9331923557176!3d35.6754314461984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88536ff218e101fb%3A0xbd905770b768ab3d!2s3012+Old+State+Hwy+49%2C+Asheboro%2C+NC+27205!5e0!3m2!1sen!2sus!4v1470497322470",
                width:600, height: 450, frameborder: 0, style: "border:0"}
