.row
  .col-md-3
    .section
      %h1
        History
      %p
        Here in this placeholder, maybe a general summary would be good?
      = link_to "1983", "#"
      = link_to "1984", "#"
      = link_to "1985", "#"
      = link_to "1986", "#"
      = link_to "1989", "#"
      = link_to "1990", "#"
      = link_to "1991", "#"
      = link_to "1992", "#"
      = link_to "1993", "#"
      = link_to "1994", "#"
      = link_to "1996", "#"
      = link_to "1997", "#"
      = link_to "1998", "#"
      = link_to "1999", "#"
  .col-md-9
    .section
      %h1 1983

      %h3 May 12, 1983, 7:00 PM
      %p
        First meeting of group from W. Cedar Grove. Met at the home 
        of Mr. and Mrs. L. E. Edwards. Eight persons present:
        %ul
          %li Rev James Womble and wife, Ola
          %li Odis Honeycutt
          %li Livington & Nell Edwards
          %li Muriel Cox
          %li Carl & Frances King
        
      %h3 May 19, 1983, 7:00 PM
      %p
        Second meeting of group from W. Cedar Grove. Met 
        at the home of Muriel Cox at West 49 Trailer Park.  
        Youth from the trailer park sang some songs. Prayer 
        and devotions. Reports and discussion: Starting date 
        was set for June 12. Pending: getting a building.
      .row
        .col-md-5
          %p  
            Present:
          %ul
            %li Rev. & Mrs. Womble
            %li Rev. & Mrs. Danforth
            %li Leland Bingham
            %li Carl & Frances King
            %li Odis Honeycutt
            %li Muriel Cox
        .col-md-7
          %p
            Prospective Teachers:
          %ul
            %li Jr./Sr. High: Leland Bingham
            %li Children - 1-6: Mrs. Womble
            %li Preschool: Frances King

      %h3 May 27, 1983, 7:00 PM
      %p
        Third meeting of group from West Cedar Grove group held at the 
        home of Rev. and Mrs. Womble. 
      %p
        Set a visitation at the mobile home part for June 4, 1989 at 
        4:00 PM at the Shelter. 
      %p
        Carl King and Rev. Womble went east and west respectively on Highway 49 
        while the ladies canvassed the mobile home park. They met back 
        at 7:00 PM for light food and prayer service. 

      %h3 June 2, 1983
      %p
        Mr. Livingston Edwards called home. He didn't live to see 
        very much done on the work.

      %h3 June 12, 1983
      %p
        First meeting of Cedar Grove Mission. Met in the Unity Community 
        Center.
      %p
        Odis Honeycutt was acting Sunday School Director. 
        25 in attendance: 3 preschool, 3 in grades 1-6; 6 youth 
        and 12 adults. Rev. James A. Womble preached the first 
        sermon from Psalm 146. There was no outward response 
        made but the group showed great spirit. 

      %h3 August 14, 1983
      %p
        First Sunday morning "POT LUCK DINNER" at 
        Pavillion at West 49 trailer park following Sunday 
        morning services. There were 36 in attendance. Carl 
        King indicates that there was a "FEAST" with 6 first 
        time guests. 
            
      %h3 August 21, 1983
      %p
        First "PROFESSIONS OF FAITH", 3 young ladies 
        came forward to give their hearts to Jesus. 
            
      %h3 September 4, 1983
      %p
        LAST meeting at West 49 building. Had 31 present.
            
      %h3 September 11, 1983
      %p
        First meeting at Tabernacle Church building. It was 
        rented for $200 per month. There were 56 present for 
        Sunday School and 61 for preaching. 
                
      %h3 September 28, 1983
      %p
        First "WEDNESDAY NIGHT SERVICE". 12 persons present. 
      %p
        First "BUSINESS MEETING". Odis Honeycutt gave 
        the first treasury report and reported that there was 
        $900 in the treasury with all bills paid but literature 
        and flowers. 
            
      %h3 October 2, 1983
      %p
        First "COOPERATIVE OFFERING" taken ($101.50) 
        for State Missions. 
            
      %h3 October 3, 1983
      %p
        Met with Missions Committee of First Baptist Church 
        of Asheboro. They were interested in sponsoring the 
        mission. 
            
      %h3 October 30, 1983
      %p
        First "HIGH ATTENDANCE" Day. 64 in Sunday 
        School. Had 9 to join church. 

      %h3 December 11, 1983
      %p
        First "LOTTIE MOON OFFERING" - $321.00.

      %h3 December 18, 1983
      %p
        First "CHRISTMAS PROGRAM" - 40 were present. 

    .section
      %h1 1984

      %h3 January 18, 1984
      %p
        First "BENOVELENCE OFFERING" taken for someone in need. $50.00.

      %h3 January 29, 1984
      %p
        Flags received as a gift from The Woodman of the Work.

      %h3 March 11, 1984
      %p 
        Pastor - Rev. James Womble - resigned as Supply Pastor. It was voted 
        to give him 4 weeks pay. 52 were present.

      %h3 March 18, 1984
      %p 
        Rev. Vernon McDaniel preached and brought a message of faithfulness. 36 were present.

      %h3 March 28, 1984
      %p 
        First "MISSION ACCOUNT" - voted to have treasurer place interest money 
        over $500.00 in Mission Checking Account.

      %h3 April 22, 1984
      %p 
        First "LORD'S SUPPER" observed. This was Easter Sunday.

      %h3 July 1, 1984
      %p 
        Called Merritt York as first official pastor. Paid $100 per week toward 
        salary and traveling expenses.

      %h3 July 22, 1984
      %p 
        "Credentials Committee" met to review Merritt York and nomination for 
        Ordination. He was approved.

      %h3 August 5, 1984
      %p 
        Rev. Merritt York, Jr. ordained into the Ministry of the Gospel.

      %h3 August 27, 1984
      %p 
        The Tabernacle Church Building was sold and the mission must move again.

      %h3 September 23, 1984
      %p 
        Report on the lot on Old Highway 49 at Brickyard Road Connection (now 
        Cable Creek). Voted unanimously to purchase the lot for 6,500.00.

      %h3 October 24, 1984
      %p 
        First Choir practice.

      %h3 November 11, 1984
      %p 
        Association Building Meeting. 42 for preaching.

      %h3 November 18, 1984
      %p 
        Second time at Association Building. 34 for Sunday School and 36 for Worship.

      %h3 December 30, 1984
      %p 
        "Odis Honeycutt Day" - Merritt York announced. 

    .section
      %h1 1985

      %h3 March 17, 1985
      %p
        Mission decided to call Rod Beale and ask First Baptist to ordain him.

      %h3 June 2, 1985
      %p
        "GROUND BREAKING" on Church site.

      %h3 June 9, 1985
      %p
        Donna Auman agreed to be pianist.

      %h3 July 14, 1985
      %p
        Mission voted to begin building, 40' x 90'. Asked Mike Auman to help with plans. 

    .section
      %h1 1986

      %h3 February 23, 1986
      %p
        "Men's Breakfast". It was announced that the Baptist Men of Central 
        North Carolina had agreed to build 5 churches, one of which was Cedar 
        Grove Mission.

      %h3 March 23, 1986
      %p
        First "REVIVAL" with Bill Baird held at Farmer United Community Building. 

    .section
      %h1 1989

      %h3 September 10, 1989
      %p
        Cedar Grove chartered as "CEDAR GROVE BAPTIST CHURCH" with 44 members.

      %h3 September 24, 1989
      %p
        Elected first Deacons by secret ballot: Bill Owens, Mike Auman, and Leland Bingham. 

    .section
      %h1 1990
      
      %h3 October, 1990
      %p
        Carl King replaced Bill Owens as Deacon. 

    .section
      %h1 1991
      
      %h3 October, 1991 to 1992
      %p
        Darrel Johnson replaced Leland Bingham as active Deacon for Year 1991-1992.

      %h3 May 1991
      %p
        Began work on upstairs.

      %h3 June 27, 1991
      %p
        Rod Beale resigned effective that day.

      %h3 December 15, 1991
      %p
        Pastor Search Committee presented Gary Mullis as bi-vocational pastor for vote. 
    
    .section
      %h1 1992

      %h3 January 1, 1992
      %p 
        Gary Mullis began officially as Pastor of Cedar Grove Baptist Church.

      %h3 June 18, 1992
      %p 
        Gary Mullis Ordained as a Minister of the Gospel at a service held at 
        First Baptist Church in Asheboro. 
    
    .section
      %h1 1993

      %h3 February 21, 1993
      %p
        Glenfield and Charlotte Pierce were killed in auto accident leaving Church at noon.

      %h3 March 6, 1993
      %p
        Memorial Service for Glenfield and Charlotte Pierce. 
    
    .section
      %h1 1994

      %h3 July, 1994
      %p
        Gordon Singer, CA bequest to Mission Fund of approximately $70,000. 

    .section
      %h1 1996

      %h3 July 18, 1996
      %p 
        Danny Hosler ordained into Ministry by Cedar Grove Baptist Church. 
    
    .section
      %h1 1997

      %h3 September 7, 1997
      %p
        Playground Dedication.

      %h3 December 31, 1997
      %p
        Rev. Gary Mullis resigned from the pulpit to allow the Church to call a full-time pastor. 

    .section
      %h1 1998

      %h3 January 1, 1998
      %p
        Dr. Gene Akins became Interim Pastor

    .section
      %h1 1999

      %h3 January 25, 1999
      %p
        Church adopted a new Constitution with the purpose of calling a full-time pastor.

      %h3 March 7, 1999
      %p
        Cedar Grove Commission of Journeyman Missionary, Ms. Heather Binghm for 
        service in Guadalajara, Mexico.

      %h3 June 6, 1999
      %p
        Homecoming. 
