.row
  .col-md-8.col-xs-12
    .section#carousel-section
      .center
        .carousel.slide#myCarousel{:data => {:ride => 'carousel'}}
          %ol.carousel-indicators
            %li.active{:data => {:target => '#myCarousel', :slide_to => '0'}}
            %li{:data => {:target => '#myCarousel', :slide_to => '1'}}
            %li{:data => {:target => '#myCarousel', :slide_to => '2'}}
          .carousel-inner
            .item.active
              = image_tag "bible.jpg", class: "image-responsive center-block"
            .item
              = image_tag "bear.jpg", class: "image-responsive center-block"
            .item
              = image_tag "church3.jpg", class: "image-responsive center-block"
  .col-md-4.col-xs-12
    .row
      .col-md-12.col-xs-6
        = render "service_times"
      .col-md-12.col-xs-6
        .section
          %h1 Stay Current
          .btn.btn-info.clearfix.center-block
            %span.glyphicon.glyphicon-file(style='font-size: 2em;')
            %p#news-label
              Most Recent Newsletter
          .sermon-audio-container
            = audio_tag Sermon.first.audio_file.url, controls: true, class: 'sermon-audio'

.row
  .col-md-12
    .section
      %h1
        Welcome
      %p
        Cedar Grove is a Southern Baptist Church with a passion
        for God and His truth. We seek to proclaim God's Word in
        all its fullness as we strive to magnify God by sharing
        the glories of Jesus Christ and His good news.

.row
  .col-md-4.col-xs-12
    .section
      %h1 Pastor's Message
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat, felis eget blandit laoreet, magna lacus laoreet ipsum, nec dignissim lacus tellus non tortor. Morbi euismod feugiat neque id commodo. Fusce felis mi, pulvinar ultricies risus ac, dapibus lobortis orci. Sed gravida eu arcu fermentum finibus. 

  .col-md-4.col-xs-12
    .section
      %h1 Children's Corner 
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat, felis eget blandit laoreet, magna lacus laoreet ipsum, nec dignissim lacus tellus non tortor. Morbi euismod feugiat neque id commodo.
  .col-md-4.col-xs-12
    .section
      %h1 Events 
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat, felis eget blandit laoreet, magna lacus laoreet ipsum, nec dignissim lacus tellus non tortor. Morbi euismod feugiat neque id commodo.
