.row
  .col-md-8
    .section#carousel-section
      .center
        .carousel.slide#myCarousel{:data => {:ride => 'carousel'}}
          %ol.carousel-indicators
            %li.active{:data => {:target => '#myCarousel', :slide_to => '0'}}
            %li{:data => {:target => '#myCarousel', :slide_to => '1'}}
            %li{:data => {:target => '#myCarousel', :slide_to => '2'}}
          .carousel-inner
            .item.active
              = image_tag "bible.jpg", class: "image-responsive center-block"
            .item
              = image_tag "bear.jpg", class: "image-responsive center-block"
            .item
              = image_tag "church3.jpg", class: "image-responsive center-block"

  .col-md-4
    .section#welcome-box
      .text-center
        %h3 Welcome!
      %p
        Cedar Grove is a Southern Baptist Church with a passion
        for God and His truth. We seek to proclaim God's Word in
        all its fullness as we strive to magnify God by sharing
        the glories of Jesus Christ and His good news.

      %p
        If you want to know more about what we believe, jump over to our
        = link_to 'beliefs page', beliefs_path
        for all the details.

.row#homepage-multi-column
  .col-md-4.col-xs-6
    = render "service_times"

    .hidden-md.hidden-lg
      = render 'events/summary'

    = render 'articles/summary'

  .col-md-4.col-xs-6
    .hidden-md.hidden-lg
      - if @last_sermon
        = render 'sermons/most_recent'
 
    .hidden-md.hidden-lg
      - if @last_newsletter
        = render 'newsletters/most_recent'

    .hidden-sm.hidden-xs
      = render 'events/summary'
  
    .section
      %h1 Children's Corner 
      = image_tag "puzzle.png", class: "image-responsive center-block", size: "100x100"
      %p
        Working with the children is one of our most important ministries. We 
        have classes just for the kids every Sunday and Wednesday, so be sure 
        to bring the whole family.

  .col-md-4.hidden-sm.hidden-xs
    - if @last_sermon
      = render 'sermons/most_recent'
    
    - if @last_newsletter
      = render 'newsletters/most_recent'

    .hidden-md.hidden-lg
      .section
        %h1 Children's Corner 
        = image_tag "puzzle.png", class: "image-responsive center-block", size: "100x100"
        %p
          Working with the children is one of our most important ministries. We 
          have classes just for the kids every Sunday and Wednesday, so be sure 
          to bring the whole family.

#homepage-one-column 
  = render "service_times"

  - if @last_sermon
    = render 'sermons/most_recent'

  = render 'events/summary'
   
  .hidden-md.hidden-lg
    .section
      %h1 Children's Corner 
      = image_tag "puzzle.png", class: "image-responsive center-block", size: "100x100"
      %p
        Working with the children is one of our most important ministries. We 
        have classes just for the kids every Sunday and Wednesday, so be sure 
        to bring the whole family.

  - if @last_newsletter
    = render 'newsletters/most_recent'

  = render 'articles/summary'
