.row
  .col-md-8
    .section#carousel-section
      .center
        .carousel.slide#myCarousel{:data => {:ride => 'carousel'}}
          %ol.carousel-indicators
            %li.active{:data => {:target => '#myCarousel', :slide_to => '0'}}
            %li{:data => {:target => '#myCarousel', :slide_to => '1'}}
            %li{:data => {:target => '#myCarousel', :slide_to => '2'}}
          .carousel-inner
            .item.active
              = image_tag "bible.jpg", class: "image-responsive center-block"
            .item
              = image_tag "bear.jpg", class: "image-responsive center-block"
            .item
              = image_tag "church3.jpg", class: "image-responsive center-block"

  .col-md-4
    .section#welcome-box
      .text-center
        %h3 Welcome!
      %p
        Cedar Grove is a Southern Baptist Church with a passion
        for God and His truth. We seek to proclaim God's Word in
        all its fullness as we strive to magnify God by sharing
        the glories of Jesus Christ and His good news.

      %p
        If you want to know more about what we believe, jump over to our
        = link_to 'beliefs page', beliefs_path
        for all the details.

.row
  .col-md-4.col-sm-12
    = render "service_times"

    - if @last_sermon
      = render 'sermons/most_recent'

  .col-md-4.col-sm-12
    .section#event-section
      %h1 Events 
      -#= image_tag "calendar.png", class: "image-responsive center-block", size: "100x100"
      -# if Event.upcoming.any?
      %p
        Here are a few of our upcoming events:
      %table.table.table-condensed  
        %tbody
          %tr
            %td Aug 15
            %td Event 1
          %tr
            %td Sep 16
            %td Event 2
          %tr
            %td Sep 22
            %td Event 3

    .section
      %h1 Pastor's Message
      = image_tag "books.png", class: "image-responsive center-block", size: "100x100"
      %p
        Pastor Marty has put together some short essays to share with the world. 
        = link_to "Click here", "articles"
        to read them all!

  .col-md-4.col-sm-12
    - if @last_newsletter
      = render 'newsletters/most_recent'

    .section
      %h1 Children's Corner 
      = image_tag "puzzle.png", class: "image-responsive center-block", size: "100x100"
      %p
        Working with the children is one of our most important ministries. We 
        have classes just for the kids every Sunday and Wednesday, so be sure 
        to bring the whole family.
