.row
  .col-md-8
    .section#carousel-section
      .center
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:src => 'https://www.youtube.com/embed/iIfW809Xzr0',
                                        :allowfullscreen => ''}
        -#= render 'carousel'

  .col-md-4
    .section#welcome-box
      .text-center
        %h3 Welcome!
      %p
        Cedar Grove is a Southern Baptist Church in Asheboro, NC with 
        a passion for God and His truth. We seek to proclaim God's Word 
        in all its fullness as we strive to magnify God by sharing
        the glories of Jesus Christ and His good news.

      %p
        If you want to know more about what we believe, jump over to our
        = link_to 'beliefs page', beliefs_path
        for all the details.

      %hr

      %p
        We're now accepting tithes and offerings electronically. Click here to contribute: 

      %form.center{:action => 'https://www.paypal.com/cgi-bin/webscr', :method => 'post', :target => '_top'}

        %input.center{:type => 'hidden', :name => 'cmd', :value => '_s-xclick'}
        %input.center{:type => 'hidden', :name => 'hosted_button_id', :value => 'ERTCMWZLYR6V8'}
        %input.center-block{:type => 'image', :src => 'https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif',
               :border => '0', :name => 'submit', :title => 'PayPal - The safer, easier way to pay online!', 
               :alt => 'Donate with PayPal button'}
        %img.center{:alt => '', :border => '0', :src => 'https://www.paypal.com/en_US/i/scr/pixel.gif', :width => '1', :height => '1'}

.row#homepage-multi-column
  .col-xs-6
    = render "service_times"
    = render 'events/summary'

  .col-xs-6
    - if @last_sermon
      = render 'sermons/most_recent'
    = render 'children'

#homepage-one-column 
  = render "service_times"

  - if @last_sermon
    = render 'sermons/most_recent'

  = render 'events/summary'
   
  = render 'children'
