.section
  %h1 Edit Sermon
  - @sermon ||= Sermon.new
  = form_for @sermon do |f|
    .form-group
      = f.label 'Title', nil, class: 'control-label'
      = f.text_field :title, {class: 'form-control'}
    .form-group
      = f.label 'Speaker', nil, class: 'control-label'
      = f.text_field :speaker, {class: 'form-control'}
    .form-group
      = f.label 'Audio', nil, class: 'control-label'
      = audio_tag @sermon.audio_file.url, controls: true, class: 'sermon-audio', preload: 'metadata'
    .form-group
      = f.label 'Date', nil, class: 'control-label'
      .form-group
        = f.date_select :date, {}, {class: 'form-control date-select'}
        .clearfix
    = f.submit 'Save', class: 'btn btn-primary'
