.section
  %h1 Sermons
  %p Here's a sermons page header. Yeah!

.col-md-3
  .section
    %h3 Sidebar
    %p This is my sidebar!
    %p Over here, maybe we can put some controls and stuff. 
    %p Maybe like a search box and whatever, some filters for like date, speaker, etc


.col-md-9
  - @sermons.each do |s|
    .section
      %h2= s.title
      %p= "#{s.speaker}, #{s.date}"
      = audio_tag s.audio_file.url, controls: true, class: 'sermon-audio'
