.row
  .col-sm-3
    .section
      %h1 Sermons
      %p 
        Each week we'll try to record our sermon so that we can later make available here.
        We hope to educate, inspire, and touch lives by sharing these lessons!

    .section
      %h3 Search
      = form_tag '/sermons', method: 'GET', id: 'sermon-search-form' do
        .form-group
          = label_tag :title, 'Title'
          = text_field_tag :title, params[:title], class: 'form-control' 
        .form-group
          = label_tag :speaker, 'Speaker'
          = select_tag :speaker, options_for_select(@speakers, params[:speaker]),
                       class: 'form-control', include_blank: true
        .form-group
          = label_tag :year, 'Year'
          = select_tag :year, options_for_select(@all_years, params[:year]),
                       class: 'form-control', include_blank: true
        .form-group
          = label_tag :month, 'Month'
          = select_tag :month, options_for_select((1..12).map { |m| [Date::MONTHNAMES[m], m] }, params[:month]),
                       class: 'form-control', include_blank: true
        = submit_tag "Find It!", class: 'btn btn-primary'
      .clearfix


  .col-sm-9
    - if @sermons.empty?
      .section
        %h2 Sorry!
        %p 
          Looks like there's nothing here. Stay tuned for more. If you made it 
          here by searching, modify your criteria and try again. 
    - @sermons.each do |s|
      .section
        %h2.centered-with-lines= s.title
        .sermon-info
          - ['speaker', 'date'].each do |info|
            .sermon-info-chunk
              ="#{info.capitalize}: " + eval("s.#{info}.to_s")
              
        .sermon-audio-container
          = audio_tag s.audio_file.url, controls: true, class: 'sermon-audio', preload: 'metadata'
